.start-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    & a {
        color: inherit;
        font-size: 2rem;
        background-color: var(--overlay);
        padding: 20px 50px;
        width: 350px;
        text-align: center;
        border-radius: var(--border-radius);
        font-weight: 900;

        &:hover {
            scale: 1.1;
            cursor: pointer;
        }
    }
}